#app-css {
  background-color: var(--body_background);
  color: var(--body_color);
}
#navbar-glass {
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2);
}
.navbar-menu ul {
  color: var(--navbar-ul-text);
}
.navbar-menu ul li a:hover {
  border-bottom: 2px solid;
}

#nav-logo {
  width: 150px;
  height: 20px;
  background-image: var(--image-source);
  background-repeat: no-repeat;
  background-size: contain;
}
.menu-logo {
  width: 30px;
  height: 30px;
  margin: 0 0 0 10px;
  background-image: var(--menu-logo);
  background-repeat: no-repeat;
  background-size: contain;
}
#hero-banner {
  background-image: none;
}

@media (min-width: 1024px) {
  #hero-banner {
    background-image: url("banner.png");
  }
}
.hero button {
  background: var(--btn-bg);
  color: var(--btn_color);
  /* padding: 8px 20px;
  border-radius: 10px; */
}
#badge {
  border-color: var(--badge-color);
}
#badge-card {
  background: var(--badge-card-color);
  border: 0.1px solid var(--border-color);
}
#kb-badge {
  background-color: var(--badge-card-color);
}
#logo-cloud {
  width: 150px;
  height: 30px;
  margin-bottom: 5px;
  background-image: var(--image-source-cloud);
  background-repeat: no-repeat;
  background-size: contain;
}
#logo-code {
  width: 150px;
  height: 30px;
  margin-bottom: 5px;
  background-image: var(--image-source-code);
  background-repeat: no-repeat;
  background-size: contain;
}

.fade-text-main {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.fade-text {
  position: relative;
}

.fade-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    var(--fade-color-start) 50%,
    var(--fade-color-end) 100%
  );
}
.faq-btn {
  background-color: var(--btn-bg);
  color: var(--btn_color);
  border-radius: 5px;
  margin: 15px 0 0 0;
  font-size: 12px;
  font-weight: 500;
}

footer p {
  color: var(--footer-text);
}
