@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body_background: white;
  --body_color: black;
  --text-gradient: linear-gradient(to right, #000000 60%, #5c5c5ca5);
  --btn_color: white;
  --btn-bg: black;
  --footer-text: black;
  --fade-color-start: rgba(255, 255, 255, 0);
  --fade-color-end: rgb(255, 255, 255);
  --image-source: url("logo.png");
  --image-source-cloud: url("cloud.svg");
  --image-source-code: url("code.svg");
  --badge-card-color: rgb(241, 241, 241);
  --border-color: rgb(158, 158, 158);
}

[data-theme="dark"] {
  --body_background: black;
  --body_color: white;
  --text-gradient: linear-gradient(to right, #ffffff 60%, #000000);
  --btn_color: black;
  --btn-bg: white;
  --footer-text: white;
  --fade-color-start: rgba(0, 0, 0, 0);
  --fade-color-end: rgb(0, 0, 0);
  --image-source: url("white.png");
  --image-source-cloud: url("cloud-white.svg");
  --image-source-code: url("code-white.svg");
  --badge-card-color: rgb(0, 0, 0);
}
